{% extends 'base.html' %}
{% block content %}
<h2 style="color:#FB6F92;">{{ area.nome }}</h2>
<p>
  <b style="color:#C20030;">ÁreaId: </b>{{ area.areaId }}
</p>
<p>
  <b style="color:#C20030;">Locais({{ locais|count }}): </b>
  <ul style="max-height: 400px; overflow: auto">
    {% for l in locais %}
    <li>
      <a href="/locais/{{ l.localId }}">{{ l.desc_local }}</a>
    </li>
    {% endfor %}
  </ul>
  <b style="color:#C20030;">Ocorrências({{ ocorrencias|count }}): </b>
  <ul style="max-height: 400px; overflow: auto">
    {% for i in ocorrencias %}
    <li>
      <a href="/ocorrencias/{{ i.occId }}">{{ i.occId }}</a>
    </li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
