{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;text-align:center;"> Los Angeles Crime database</h1>

<h2 style="color:#C20030;">Estatisticas da base de dados</h2>
<table>
<tr>
  <th style="color:#713948;">Items</th>
  <th style="color:#713948;">Count</th>
</tr>
<tr>
  <td style="color:#FB6F92;">Ocorrências</td>
  <td>{{ stats.n_occur }}</td>
</tr>
<tr>
  <td style="color:#FB6F92;">Áreas</td>
  <td>{{ stats.n_areas }}</td>
</tr>
<tr>
  <td style="color:#FB6F92;">Crimes</td>
  <td>{{ stats.n_crimes }}</td>
</tr>
<tr>
  <td style="color:#FB6F92;">Locais</td>
  <td>{{ stats.n_locais }}</td>
</tr>
<tr>
  <td style="color:#FB6F92;">Vítimas</td>
  <td>{{ stats.n_vitimas }}</td>
</tr>
<tr>
  <td style="color:#FB6F92;">Armas</td>
  <td>{{ stats.n_armas }}</td>
</tr>
</table>

<h2 style="color:#C20030;">Rankings</h2>
<h3 ><a href="/top_areas">Top 5 Areas com mais crimes</a></h3>
<h3 ><a href="/blade_crimes">Crimes com armas brancas</a></h3>

<h3 style="color:#713948;">Top 10 Arma mais usada por crime</h3>
<form name="taid" action="javascript:window.open('/top_armas/'+document.forms['taid'].elements['id'].value,'_self')">
   Crime Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>

<h3 style="color:#713948;">Top 3 Descendência da vitima por crime</h3>
<form name="tdid" action="javascript:window.open('/top_descendencia/'+document.forms['tdid'].elements['id'].value,'_self')">
   Crime Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>


<h2 style="color:#C20030;">Tabelas</h2>

<h3 style="color:#713948;">Ocorrências</h3>
<p>
   <a href="/ocorrencias">Listar todos</a>
</p>
<p style="color:#FB6F92;">Informação sobre ocorrência:
<form name="oid" action="javascript:window.open('/ocorrencias/'+document.forms['oid'].elements['id'].value,'_self')">
   Occ Id:<input value="230121486" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>


<h3 style="color:#713948;">Areas</h3>
<p>
   <a href="/areas">Listar todos</a>
</p>

<p style="color:#FB6F92;">Informação sobre área:
<form name="aid" action="javascript:window.open('/areas/'+document.forms['aid'].elements['id'].value,'_self')">
   Area Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<p style="color:#FB6F92;">Procurar por nome:
  <form name="asearch" action="javascript:window.open('/areas/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3 style="color:#713948;">Crimes</h3>
<p>
   <a href="/crimes">Listar todos</a>
</p>

<p style="color:#FB6F92;">Informação sobre crimes:
<form name="cid" action="javascript:window.open('/crimes/'+document.forms['cid'].elements['id'].value,'_self')">
   Crime Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<p style="color:#FB6F92;">Procurar por descrição:
  <form name="csearch" action="javascript:window.open('/crimes/search/'+document.forms['csearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3 style="color:#713948;">Locais</h3>
<p>
   <a href="/locais">Listar todos</a>
</p>

<p style="color:#FB6F92;">Informação sobre locais:
<form name="lid" action="javascript:window.open('/locais/'+document.forms['lid'].elements['id'].value,'_self')">
   Local Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<p style="color:#FB6F92;">Procurar por descrição:
  <form name="ldsearch" action="javascript:window.open('/locais/search/'+document.forms['ldsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<p style="color:#FB6F92;">Procurar por morada:
  <form name="lmsearch" action="javascript:window.open('/locais/search-morada/'+document.forms['lmsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3 style="color:#713948;">Vitimas</h3>
<p>
   <a href="/vitimas">Listar todos</a>
</p>

<p style="color:#FB6F92;">Informação sobre vítimas:
<form name="vid" action="javascript:window.open('/vitimas/'+document.forms['vid'].elements['id'].value,'_self')">
   Vitima Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>


<h3 style="color:#713948;">Armas</h3>
<p>
   <a href="/armas">Listar todos</a>
</p>

<p style="color:#FB6F92;">Informação sobre Armas:
    <form name="rid" action="javascript:window.open('/armas/'+document.forms['rid'].elements['id'].value,'_self')">
       Arma Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
    </form>
</p>

<p style="color:#FB6F92;">Procurar por descrição:
  <form name="rsearch" action="javascript:window.open('/armas/search/'+document.forms['rsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>

{% endblock %}
