{% extends 'base.html' %}
{% block content %}
<h1>Los Angeles Crime database</h1>

<h2>Estatisticas da base de dados</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>Ocorrências</td>
  <td>{{ stats.n_occur }}</td>
</tr>
<tr>
  <td>Áreas</td>
  <td>{{ stats.n_areas }}</td>
</tr>
<tr>
  <td>Crimes</td>
  <td>{{ stats.n_crimes }}</td>
</tr>
<tr>
  <td>Locais</td>
  <td>{{ stats.n_locais }}</td>
</tr>
<tr>
  <td>Vítimas</td>
  <td>{{ stats.n_vitimas }}</td>
</tr>
<tr>
  <td>Armas</td>
  <td>{{ stats.n_armas }}</td>
</tr>
</table>

<h2>Rankings</h2>
<h3><a href="/top_areas">Top 5 Areas com mais crimes</a></h3>

<h3>Top 10 Arma mais usada por crime</h3>
<form name="taid" action="javascript:window.open('/top_armas/'+document.forms['taid'].elements['id'].value,'_self')">
   Crime Id:<input value="123" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>

<h3>Top 3 Descendência da vitima por crime</h3>
<form name="tdid" action="javascript:window.open('/top_descendencia/'+document.forms['tdid'].elements['id'].value,'_self')">
   Crime Id:<input value="123" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>


<h2>Tabelas</h2>

<h3>Ocorrências</h3>
<p>
   <a href="/ocorrencias">Listar todos</a>
</p>
<p>Informação sobre ocorrência:
<form name="oid" action="javascript:window.open('/ocorrencias/'+document.forms['oid'].elements['id'].value,'_self')">
   Occ Id:<input value="123" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>


<h3>Areas</h3>
<p>
   <a href="/areas">Listar todos</a>
</p>

<p>Informação sobre área:
<form name="aid" action="javascript:window.open('/areas/'+document.forms['aid'].elements['id'].value,'_self')">
   Area Id:<input value="123" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<p>Procurar por nome:
  <form name="asearch" action="javascript:window.open('/areas/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3>Crimes</h3>
<p>
   <a href="/crimes">Listar todos</a>
</p>

<p>Informação sobre crimes:
<form name="cid" action="javascript:window.open('/crimes/'+document.forms['cid'].elements['id'].value,'_self')">
   Crime Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<p>Procurar por descrição:
  <form name="csearch" action="javascript:window.open('/crimes/search/'+document.forms['csearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3>Locais</h3>
<p>
   <a href="/locais">Listar todos</a>
</p>

<p>Informação sobre locais:
<form name="lid" action="javascript:window.open('/locais/'+document.forms['lid'].elements['id'].value,'_self')">
   Local Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>

<!-- TODO: implementar pesquisa -->
<p>Procurar por descrição:
  <form name="ldsearch" action="javascript:window.open('/locais/search/'+document.forms['ldsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>

<p>Procurar por morada:
  <form name="lmsearch" action="javascript:window.open('/locais/search-morada/'+document.forms['lmsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>


<h3>Vitimas</h3>
<p>
   <a href="/vitimas">Listar todos</a>
</p>

<p>Informação sobre vítimas:
<form name="vid" action="javascript:window.open('/vitimas/'+document.forms['vid'].elements['id'].value,'_self')">
   Vitima Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
</form>
</p>


<h3>Armas</h3>
<a href="/blade-crimes">
    <img src="/static/duck.jpg" style = "float:right" height = "250" alt="this is a picture of a duck"> </img>
</a>
<p>
   <a href="/armas">Listar todos</a>

</p>

<p>Informação sobre Armas:
    <form name="rid" action="javascript:window.open('/armas/'+document.forms['rid'].elements['id'].value,'_self')">
       Arma Id:<input value="1" name="id" type="number" min="1"/><input type="submit" value="get"/>
    </form>
</p>

<p>Procurar por descrição:
  <form name="rsearch" action="javascript:window.open('/armas/search/'+document.forms['rsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Tom" required/>
    <input type="submit" value="search"/>
  </form>
</p>

    <!--
    <a href="/blade-crimes">
    <img src="/img/Killer_duck.jpg" style = "float:right" height = "250" alt="this is a picture of a duck"> </img>
    </a>
    -->

{% endblock %}
