{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;">{{ local.morada }}</h1>
<p>
<ul>
  <li>
    <b style="color:#C20030;">Descrição: </b>{{ local.desc_local }}
  </li>
  <li>
    <b style="color:#C20030;">LocalId: </b>{{ local.localId }}
  </li>
  <li>
    <b style="color:#C20030;">Coordenadas: </b>{{ local.coordenadas }}
  </li>
  <li>
    <b style="color:#C20030;">Área: </b><a href="/areas/{{ local.areaId }}">{{ local.areaId }}</a>
  </li>
  <p>
  <li>
    <b style="color:#C20030;">Ocorrências: </b>
  <ul>
    {% for i in ocorrencias %}
    <li>
      <a href="/ocorrencias/{{ i.occId }}">{{ i.occId }}</a>
    </li>
    {% endfor %}
</ul>
</p>
{% endblock %}
