{% extends 'base.html' %}
{% block content %}
<h1>{{ local.morada }}</h1>
<p>
<ul>
  <li>
    <b>Descrição: </b>{{ local.desc_local }}
  </li>
  <li>
    <b>LocalId: </b>{{ local.localId }}
  </li>
  <li>
    <b>Coordenadas: </b>{{ local.coordenadas }}
  </li>
  <li>
    <b>Área: </b><a href="/areas/{{ local.areaId }}">{{ local.areaId }}</a>
  </li>
  <p>
  <li>
    <b>Ocorrências: </b>
  <ul>
    {% for i in ocorrencias %}
    <li>
      <a href="/ocorrencias/{{ i.occId }}">{{ i.occId }}</a>
    </li>
    {% endfor %}
</ul>
</p>
{% endblock %}
