{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;text-align:center;">Locais</h1>
<table>
  <tr>
    <th>
      <b style="color:#713948;">LocalId</b>
    </th>
    <th>
      <b style="color:#713948;">Área</b>
    </th>
    <th>
      <b style="color:#713948;">Descrição</b>
    </th>
    <th>
      <b style="color:#713948;">Coordenadas</b>
    </th>
    <th>
      <b style="color:#713948;">Morada</b>
    </th>
  </tr>
  {% for l in locais %}
  <tr>
    <td>
      <a href="/locais/{{ l.localId }}">{{ l.localId  }}</a>
    </td>
    <td>
      <a href="/areas/{{ l.areaId }}">{{ l.areaId }}</a>
    </td>
    <td>
      {{ l.desc_local }}
    </td>
    <td>
      {{ l.coordenadas }}
    </td>
    <td>
      {{ l.morada }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
