{% extends 'base.html' %}
{% block content %}
<h1>ID:{{ ocorrencias.occId }}</h1>

<p>
  <b>data da ocorrência: </b>{{ ocorrencias.date_occ }}
</p>
<p>
  <b>data em que foi reportado: </b>{{ ocorrencias.date_rptd }}
</p>

<p>
  <b>Crime: </b><a href="/crimes/{{ crimes.crimeid }}"> {{ crimes.crimeid }}, {{crimes.desc_crime}} </a>
</p>
<p>
  <b>Local: </b><a href="/locais/{{ locais.localId }}"> {{ locais.localId }}, {{locais.desc_local}}</a>
</p>
<p>
  <b>Vítima: </b><a href="/vitimas/{{ vitimas.vitimaId }}"> {{ vitimas.vitimaId }} </a>
</p>
<p>
  <b>Arma: </b>
  {% if armas %}
    <a href="/armas/{{ armas.armaId }}"> {{ armas.armaId }}, {{armas.desc_arma}} </a>
  {% else %}
    Nenhuma
  {% endif %}
</p>
{% endblock %}
