{% extends 'base.html' %}
{% block content %}
<h1>{{ occId }}</h1>

<p>
  <b>data da ocorrência: </b>{{ Ocorrencias.date_occ }}
</p>
<p>
  <b>data em que foi reportado: </b>{{ Ocorrencias.date_rptd }}
</p>

<p>
  <b>Crime: </b>{{ <a href="/streams/{{ crimes.occId }}">{{ crimes.occId }}</a> }}
</p>
<p>
  <b>Local: </b>{{ Ocorrencias.localId, <a href="/streams/{{ locais.occId }}">{{ locais.occId }}</a> }}
</p>
<p>
  <b>Vítima: </b>{{ Ocorrencias.vitimaId, <a href="/streams/{{ vitimas.occId }}">{{ vitimas.occId }}</a> }}
</p>



<p>
  <b>Armas: </b>

  {% for s in streams %}

    <a href="/streams/{{ armas.occId }}">{{ armas.occId }}</a>

  {% endfor %}

</p>

