{% extends 'base.html' %}
{% block content %}
<h1>Ocorrências</h1>
<table>
  <tr>
    <th>
      <b>Id</b>
    </th>
    <th>
      <b>date_rptd</b>
    </th>
    <th>
      <b>date_occ</b>
    </th>
    <th>
      <b>hora_occ</b>
    </th>
  </tr>

  {% for occor in ocorrencias %}
  <tr>
    <td>
      <a href="/ocorrencias/{{ ocorrencias.occId }}">{{ ocorrencias.occId }}</a>
    </td>
    <td>
      {{ ocorrencia.date_rptd }}
    </td>
    <td>
      {{ ocorrencia.date_occ }}
    </td>
    <td>
      {{ ocorrencia.hora_occ }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}