{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;">Vítimas</h1>
<table>
  <tr>
    <th>
      <b style="color:#713948;">Id</b>
    </th>
    <th>
      <b style="color:#713948;">Idade</b>
    </th>
    <th>
      <b style="color:#713948;">Descendência</b>
    </th>
  </tr>
  {% for v in vitimas %}
  <tr>
    <td>
      <a href="/vitimas/{{ v.vitimaId }}">{{ v.vitimaId }}</a>
    </td>
    <td>
      {{ v.idade }}
    </td>
    <td>
      {{ v.descendencia }}
    </td>
  </tr>
  {% endfor %}
</table>

{% if page > 0 %}
  <a href="/vitimas?page={{ page - 1 }}&per_page={{ per_page }}">Página Anterior</a>
{% endif %}
  <a href="/vitimas?page={{ page + 1 if page >= 0 else 1 }}&per_page={{ per_page }}">Próxima página</a>

{% endblock %}
