{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;">ID:{{vitima.vitimaId}}</h1>
<p>
  <b style="color:#C20030;">Idade: </b>{{ vitima.idade }}
</p>
<p>
  <b style="color:#C20030;">Sexo: </b>{{ vitima.sexo }}
</p>
<p>
  <b style="color:#C20030;">Descendência: </b>{{ vitima.descendencia }}
</p>
<p>
  <b style="color:#C20030;">Ocorrências: </b>
<ul>
  {% for i in ocorrencias %}
  <li>
    <a href="/ocorrencias/{{ i.occId }}">{{ i.occId }}</a>
  </li>
  {% endfor %}
</ul>
</p>
{% endblock %}
