{% extends 'base.html' %}
{% block content %}
<h1 style="color:#FB6F92;">Vítimas</h1>
<table>
  <tr>
    <th>
      <b style="color:#713948;">Id</b>
    </th>
    <th>
      <b style="color:#713948;">Idade</b>
    </th>
    <th>
      <b style="color:#713948;">Descendência</b>
    </th>
  </tr>
  {% for v in vitimas %}
  <tr>
    <td>
      <a href="/vitimas/{{ v.vitimaId }}">{{ v.vitimaId }}</a>
    </td>
    <td>
      {{ v.idade }}
    </td>
    <td>
      {{ v.descendencia }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
